body {
    font-family: Helvetica;
}

#kontener-baner {
    display: flex;
    flex-direction: row;
}

#baner-lewy,
#sekcja-lewy {
    background-color: rgb(130, 69, 85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
}

#baner-prawy,
#sekcja-prawy {
    background-color: rgb(130, 69, 85);
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
}

main,
footer {
    background-color: rgb(240, 234, 226);
    padding: 120px;
}

a {
    color: rgb(240, 234, 226);
}

#kontener-sekcja {
    display: flex;
    flex-direction: row;
}